*{
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
:root{
    --color-black-100: rgba(0,0,0);
    --color-black-90: rgba(0,0,0,90%);
    --color-black-70: rgba(0,0,0,70%);
    --color-black-40: rgba(0,0,0,40%);
    --color-white-100: rgba(255,255,255);
    --color-white-90: rgba(255,255,255,90%);
    --color-white-70: rgba(255,255,255,70%);
    --color-white-50: rgba(255,255,255,50%);
    --color-white-20: rgba(255,255,255,20%);
    --color-green-100: rgb(1, 231, 105);
    --color-green-90: rgba(1, 231, 105, 90%);
    --color-green-80: rgba(1, 231, 105, 80%);
    --color-green-60: rgba(1, 231, 105, 60%);
    --color-green-10: rgba(1, 231, 105, 10%);
    --color-rosa-100: rgba(236, 83, 160);
    --color-rosa-60: rgba(236, 83, 160, 60%);
    --color-rosa-30: rgba(236, 83, 160, 30%);
}
html{
    scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth ;
}
body{
    background: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .9)), url(./../IMG/fondo.jpg) fixed repeat;
    background-size: 2000px;
    animation: movimiento 30s 0s infinite linear;
}
p{
    font-family: 'Anta', 'arial';
}
.presentacion_quienSoy:hover,
.tecnologias:hover{
    background-color: var(--color-black-70);
    box-shadow: 0px 0px 10px var(--color-rosa-100);
}




header{
    height: 60px;
    width: 100%;
    background-color: var(--color-black-70);
    position: fixed;
    z-index: 10;
    transition: all .3s ease-out;
}
header .nav_horizontal{
    min-width: 700px;
    width: 50%;
    margin: 12px auto;
}
header .nav_horizontal ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
header .nav_horizontal ul li{
    width: auto;
    height: 42px;
    line-height: 42px;
}
header .nav_horizontal ul li a{
    display: block;
    width: 100%;
    padding: 2px 12px;
    margin: 0 4px;
    color: var(--color-white-100);
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 700;
    font-style: italic;
    font-size: 1.3rem;
    opacity: .6;
    transition:background-color .3s ease-out, scale .1s ease-out, transform .3s ease-out  ;
}
header .nav_horizontal ul li a:hover,
header.active:hover .nav_horizontal ul li a:hover{
    scale: 1.2;
    opacity: 1;
    text-decoration: underline 2px var(--color-green-80);
    font-style: normal;
    transform: translateY(3px);
    transition:background-color .3s ease-out, scale .1s ease-out, transform .2s ease-out;
}
header.active{
    opacity: .4;
    transform: translateY(-24px);
}
header.active .nav_horizontal ul li a{
    transform: translateY(12px);
    background-color: transparent;
}
header.active:hover{
    opacity: 1;
    background-color: var(--color-black-90);
    transform: translateY(0px);
}
header.active:hover .nav_horizontal ul li a{
    transform: translateY(0px);
    color: var(--color-white-100);
}
header div.burgerMenu{
    display: none;
}
header .nav_vertical{
    display: none;
}
main{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main section.presentacion{
    display: flex;
    flex-direction: column;
    align-items: center;
} 
main section.presentacion div.presentacion_inicio{
    height: 500px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
main section.presentacion div.presentacion_inicio div.presentacion_nombre{
    display: flex;
    flex-direction: column;
    align-items: start;
}
main section.presentacion div.presentacion_inicio div.presentacion_nombre p{
    position: relative;
    right: 42px;
    font-size: 1.3rem;
    color: var(--color-green-90);
}
main section.presentacion div.presentacion_inicio div.presentacion_nombre h1 span{
    margin: 4px 0;
    width: 460px;
    display: block;
    font-family: "Monserrat", monospace;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 3px;
    font-size: 4rem;
    text-align: left;
    opacity: .9;
    color: var(--color-white-90);
}
main section.presentacion div.presentacion_inicio div.presentacion_nombre h1 span:first-child,
main section.presentacion div.presentacion_inicio div.presentacion_nombre h1 span:nth-child(3),
main section.presentacion div.presentacion_inicio div.presentacion_nombre h1 span::first-letter{
    color: var(--color-green-100);
}
main section.presentacion picture{
    display: block;
    min-width: 200px;
    width: 300px;
    padding: 6px;
    background-color: var(--color-white-20);
    border: 1px solid var(--color-green-10);
    border-radius: 20px;
    height: auto;
    overflow: hidden;
}
main section.presentacion picture img{
    width: 100%;
    padding: 4px;
    border-radius: 30%;
}
main section.presentacion div.presentacion_quienSoy{
    width: calc(100% - 30px);
    padding: 24px 15px;
    height: auto;
    border: 3px solid var(--color-green-10);
    transition: background-color .3s ease-out,box-shadow .3s ease-out;
}
main section.presentacion div.presentacion_quienSoy h2{
    margin-top: 4px;
    margin-left: 12px;
    font-family: "Monserrat", monospace;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 3px;
    font-size: 2rem;
    text-align: left;
    text-wrap: balance;
    color: var(--color-white-90);
    border-bottom: 2px solid var(--color-green-60);
}
main section.presentacion div.presentacion_quienSoy h2 span{
    font-family: "Monserrat", monospace;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 3px;
    font-size: 2rem;
    color: var(--color-green-100);
}
main section.presentacion div.presentacion_quienSoy p{    
    width: 90%;
    margin: 24px 6% 12px 4%;
    padding: 24px 12px;
    border-left: 2px solid var(--color-green-60);
    font-size: 1.3rem;
    color: var(--color-white-70);
}
main section.presentacion div.presentacion_quienSoy p span{
    color: var(--color-green-100);
    font-size: 1.5rem;
}
main section.tecnologias{
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    width: calc(100% - 30px);
    padding: 24px 15px;
    height: auto;
    border: 3px solid var(--color-green-10);
    transition: background-color .3s ease-out,box-shadow .3s ease-out;
}
main section.tecnologias h2{
    margin: 4px 0 12px 12px;
    font-family: "Monserrat", monospace;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 3px;
    font-size: 2rem;
    text-align: left;
    border-bottom: 2px solid var(--color-green-60);
    text-wrap: balance;
    color: var(--color-white-90);
}
main section.tecnologias h2 span{
    font-family: "Monserrat", monospace;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 3px;
    font-size: 2rem;
    color: var(--color-green-100);
}
main section.tecnologias article{
    width: 80%;
    margin: 32px 10%;
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}
main section.tecnologias article picture{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid var(--color-green-100);  
    filter: grayscale(80%);
    transition: background-color .3s ease-out, filter .3s ease-out, scale.3s ease-out;
}
main section.tecnologias article picture:hover{
    background-color: var(--color-black-90);
    filter: grayscale(20%);
    box-shadow: 2px 2px 20px var(--color-green-60);
    scale: 1.1;
}
main section.tecnologias article picture img{
    width: 52px;
}
main section.proyectos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
    width: 100%;
    padding: 24px 15px;
    height: auto;
}
main section.proyectos h2{
    width: max-content;
    margin: 32px 0;
    padding: 0 16px;
    font-family: "Monserrat", monospace;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 3px;
    font-size: 4rem;
    border-bottom: 2px solid var(--color-green-100);
    text-wrap: balance;
    color: var(--color-white-90);   
}
main section.proyectos article.proyecto{
    width: 100%;
    margin: 24px auto;
    padding: 32px 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid var(--color-green-80);
    transition: background-color .3s ease-out
}
main section.proyectos article.proyecto:hover{
    background-color: var(--color-black-70);
}
main section.proyectos article.proyecto div.left{
    width: 30%;
    height: 100%;
}
main section.proyectos article.proyecto div.left picture.proyecto_imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 12px;
    border: 2px solid var(--color-green-100);  
    border-radius: 12px;
    overflow: hidden;       
    transition: background-color .3s ease-out, filter .3s ease-out, scale.3s ease-out;
}
main section.proyectos article.proyecto div.left picture.proyecto_imagen:hover{
    background-color: var(--color-black-90);
    box-shadow: 2px 2px 20px var(--color-green-60);
    overflow: hidden;
    scale: 1.02;
}
main section.proyectos article.proyecto div.left img{
    width: 140%;
    transition: width .3s ease-out;
}
main section.proyectos article.proyecto div.left picture.proyecto_imagen:hover img{
    width: 200%;
}
main section.proyectos article.proyecto div.left div.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}
main section.proyectos article.proyecto div.left div.buttons button.siguiente{
    width: 54px;
    height: 54px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform.3s ease-out, scale .3s ease-out;
}
main section.proyectos article.proyecto div.left div.buttons button.anterior{
    width: 54px;
    height: 54px;
    transform: rotateY(180deg);
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform.3s ease-out, scale .3s ease-out;
}
main section.proyectos article.proyecto div.left div.buttons button.siguiente:hover{
    scale: 1.1;
    transform: translate(4px);
}
main section.proyectos article.proyecto div.left div.buttons button.anterior:hover{
    scale: 1.1;
    transform: rotateY(180deg) translate(4px);
}
main section.proyectos article.proyecto div.left div.buttons button.siguiente img,
main section.proyectos article.proyecto div.left div.buttons button.anterior img{
    width: 100%;
}
main section.proyectos article.proyecto div.left div.buttons a{
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 12px;
}
main section.proyectos article.proyecto div.left div.buttons a img{
    width: 100%;
    transition: filter .3s ease-out ;
}
main section.proyectos article.proyecto div.left a:hover img{
    filter: drop-shadow(0 1px 1px var(--color-rosa-60));

}

main section.proyectos article.proyecto div.right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 56%;
}
main section.proyectos article.proyecto div.right h3{
    margin-bottom: 12px;
    padding: 0 12px;
    font-family: "Monserrat", monospace;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 3px;
    font-size: 1.5rem;
    border-bottom: 2px solid var(--color-green-60);
    text-wrap: balance;
    color: var(--color-white-90);
}
main section.proyectos article.proyecto div.right p{
    width: 95%;
    margin: 0 2%;
    font-size: 1rem;
    text-wrap: pretty;
    color: var(--color-white-70);
    margin-bottom: 24px;
}
main section.proyectos article.proyecto div.right div.tecnologiasUsadas{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    width: 100%;
    padding: 12px 0;
    border-top: 2px solid var(--color-green-60);
    border-bottom: 2px solid var(--color-green-60);
}
main section.proyectos article.proyecto div.right div.tecnologiasUsadas picture{
    display: flex;
    align-items: center;
    padding: 4px 8px;
    border-radius: 4px;
    border: 2px solid var(--color-green-10);
    transition: box-shadow .3s ease-out;
}
main section.proyectos article.proyecto div.right div.tecnologiasUsadas picture:hover{
    box-shadow: 0px 0px 10px var(--color-rosa-100);
}
main section.proyectos article.proyecto div.right div.tecnologiasUsadas picture img{
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
main section.proyectos article.proyecto div.right div.tecnologiasUsadas picture h4{
    color: var(--color-white-70);
    line-height: 24px;
    font-size: .6rem;
    cursor: default;
}
@media (width < 800px) {
    header .nav_horizontal{
        min-width: auto;
        width: 100%;
    }
    main section.presentacion div.presentacion_inicio{
        height: auto;
        flex-direction: column;
    }
    main section.presentacion div.presentacion_inicio div.presentacion_nombre p{
        right: 0;
    }
    main section.presentacion div.presentacion_inicio div.presentacion_nombre{
        margin: 24px 0;
    }
    main section.proyectos h2{
        font-size: 2rem;
        margin: 12px 0;
    }
    main section.proyectos article.proyecto{
        flex-direction: column-reverse;
        padding: 12px;
    }
    main section.proyectos article.proyecto div.right{
        width: 90%;
        margin: 0 5% 20px;
    }
    main section.proyectos article.proyecto div.left{
        width: 90%;
        margin: 0 5%;
    }
    main section.proyectos article.proyecto div.left picture.proyecto_imagen{
        width: 80%;
        margin: 0 10%;
    }
    main section.proyectos article.proyecto div.left img{
        width: 80%;
    }
    main section.proyectos article.proyecto div.left picture.proyecto_imagen:hover img{
        width: 100%;
    }
    main section.proyectos article.proyecto div.left div.buttons{
        justify-content: center;
        gap: 0 20px;
    }
}
@media (width < 500px) {
    header{
        position: relative;
    }
    header .nav_horizontal{
        display: none;
    }
    header div.burgerMenu{
        display: flex;
        align-items: center;
        margin-left: 8px;
        width: calc(100% -8px);
        height: 100%;
    }
    header div.burgerMenu .open_menu{
        display: block;
        width: 42px;
        height: 36px;
        border-radius: 4px;
        background-color: var(--color-black-70);
    }
    header nav.nav_vertical{
        display: block;
        position: fixed;
        width: 200px;
        top: 0;
        bottom: 0;
        left: -300px;
        background-color: var(--color-black-100);
        z-index: 10;
        transition: left .3s ease-out;
    }
    header .nav_vertical ul{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    header .nav_vertical ul .close_menu{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-white-70);
        border: 0;
    }
    header .nav_vertical ul li{
        margin: 8px 0;
        width: 100%;
        height: 40px;
        padding: 4px 0;
        border-top: 2px solid var(--color-white-50);
        border-bottom: 2px solid var(--color-white-50);
    }
    header .nav_vertical ul li a{
        display: block;
        width: 100%;
        padding: 0 12px;
        line-height: 32px;
        font-family: "Montserrat", sans-serif;
        font-size: 1.3rem;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: var(--color-white-100);
    }
    main{
        padding: 12px;
    }
    main section.presentacion{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    main section.presentacion div.presentacion_inicio{
        margin-bottom: 24px;
    }
    main section.presentacion div.presentacion_inicio div.presentacion_nombre h1 span{
        margin: 4px 0 ;
        width: auto;
        font-size: 2rem;
    }
    main section.presentacion picture{
        min-width: none ;
        width: 150px;
    }
    main section.presentacion div.presentacion_quienSoy h2,
    main section.presentacion div.presentacion_quienSoy h2 span,
    main section.tecnologias h2,
    main section.tecnologias h2 span{
     font-size: 1.4rem;
    }
    main section.presentacion div.presentacion_quienSoy p{
        font-size: 0.9rem;
    }
    main section.presentacion div.presentacion_quienSoy p span{
        font-size: 1rem;
    }
    main section.tecnologias article picture{
        width: 64px;
        height: 64px;
        filter: grayscale(50%);
    }
    main section.tecnologias article picture img{
        width: 32px;
    }
}





























@keyframes movimiento {
    0%{
        background-position: 0% 50%;
      }
      50% {
        background-position: 50% 70%;
      }
      100% {
        background-position: 0% 50%;
      }
    
}